/* General stylings */

body {
  background-color: white;
}

footer {
  height: 150px;
  background-color: #b4dbc0;
  margin-top: 60px;
}

a {
  color: #7d9986;
}

a:hover {
  color: #a2c5ac;
  text-decoration: none;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

p,
a,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  font-size: 2em;
}

/* Navigation */
button.navbar-toggle {
  background-color: #b4dbc0;
}
button.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-nav>li>a:hover {
  background-color: transparent;
}

.active>a {
  color: black;
}

/* Index */

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage p {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  display: block;
  text-align: center;
}

.stage ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.stage ul li {
  list-style: none;
  margin: 0 15px 0 15px;
}

.stage ul li .active {
  color: black;
  font-weight: bold;
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleList a {
  margin-top: 10px;
}

.articleList img {
  width: 600px;
}

.articleTeaser {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 15px;
}

/* Show */

.containerArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 55%;
  margin:auto;
}

.containerArticle img {
  margin: 20px 0 20px 0;
}
