/*
 *= require jquery.raty
 */

/***
General
***/

body {
  background-color: white;
}

footer {
  height: 150px;
  background-color: #b4dbc0;
  margin-top: 60px;
}

a {
  color: #7d9986;
}

a:hover {
  color: #a2c5ac;
  text-decoration: none;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

p,
a,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  font-size: 2em;
}

.form_heading {
  text-align: center;
}

.btn-primary {
  background-color: #7d9986;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-within,
.btn-primary:visited,
.btn-primary:active
.btn-primary:active:focus {
  background-color: #a2c5ac;
  box-shadow: none;
}
.btn:active:focus {
  background-color: #b4dbc0;
  box-shadow: none;
}

/***
Footer
***/

button.navbar-toggle {
  background-color: #b4dbc0;
}
button.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-nav>li>a:hover {
  background-color: transparent;
}

.active>a {
  color: black;
}

.navbar-form {
  margin: 0;
  padding: 0;
  margin: 12px 15px 0 15px;
}

.q {
  height: 30px;
  border: none;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0;
}

::placeholder {
  color: black;
}

.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  margin-top: 8px;
}

.right-addon .glyphicon {
  right: 15px;
}


/***
Article index
***/

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage p {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  display: block;
  text-align: center;
}

.stage ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.stage ul li {
  list-style: none;
  margin: 0 15px 0 15px;
}

.stage ul li .active {
  color: black;
  font-weight: bold;
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleList a {
  margin-top: 10px;
}

.articleList img {
  width: 600px;
}

.articleTeaser {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 15px;
}

/* Article Show */

.article_header {
  text-align: center;
}

.article img {
  margin: 20px 0 20px 0;
}

/***
Forms
***/

label {
  font-weight:normal;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
  border-radius: 0;
}

.alert {
  margin: 0px;
}

.alert-success {
  background-color: #3b945e;
  color: white;
  border-radius: 0px;
  border: none;
}

.alert-warning {
  background-color: #af2141;
  border-radius: 0px;
  color: white;
  border: none;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.remember_me {
  font-weight: normal;
}

#error_explanation {
  border: none;
  background-color: #af2141;
  padding: 20px;
  width: auto;
}

#error_explanation h2 {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

#error_explanation ul li {
    font-size: 0.9em;
    list-style: none;
    color: white;
}

.field_with_errors {
  background-color: transparent;
}

.field_with_errors label{
  color: #af2141;
}

.field_with_errors .form-control{
  border-color: #af2141;
  border-width: 2px;
  width: 100%;
}

/**
Pagination
**/

.pagination_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  cursor: default;
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 3px; }

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }

.pagination .current {
  font-style: normal;
  background: #7d9986;
  color: white;
  border: 1px solid #7d9986; }

.pagination a {
  text-decoration: none;
  color: #7d9986;
  border: 1px solid #7d9986; }

.pagination a:hover, .pagination a:focus {
  color: #a2c5ac;
  border-color: #a2c5ac; }

/***
Media queries
***/

@media (min-width: 767px) {
  .q {
    width: 220px;
    padding: 0 2px 0 2px;
  }
  .inner-addon .glyphicon {
    margin-top: 17px;
  }
}
