<p>Welcome <%= @email %>!</p>

<p>Bitte klicke auf den folgenden Link um dein Nutzerkonto zu aktivieren:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
